@import '../base/variables';


.gif-card-item {
  background-color: $bg-white;
}

.gird-custom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gird-custom-item {
  width: 23.5%;
}

@media screen and (max-width:1340px) {
  .gird-custom-item {
    width: 32.5%;
  }
}

@media screen and (max-width:768px) {
  .gird-custom-item {
    width: 48%;
  }
}