@import '../../../../styles/base/variables';

.scroll-to-top {
    position: fixed;
    right: 0;
    bottom: 30px;
    display: flex;
    justify-content: flex-end;

    div {
        margin-right: 50px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.25 ease-in-out;
        border: 1px solid $bg-gray;
        mat-icon {
            font-size: $fs-22;
            color: $black-primary;
        }

        &:hover {
            background-color: $bg-gray2;
            border: 1px solid $bg-gray2;
        }
    }
}