<div scrollLoadMore (scrollingFinished)="onScrollingFinished()">
  <div class="gird-custom">
    <ng-container *ngFor="let item of items;trackBy:trackByFn">
      <div class="gird-custom-item w-full bg-white mb-4 gif-card-container">
        <div class="gif-card-layer w-full">
          <div class="gif-card-item">
            <img [src]="item?.images?.downsized?.url" alt="Image">
          </div>
        </div>
        <div class="gif-footer-card" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="content-left">
            <img [src]="item?.user?.avatar_url" alt="Image">
            <span *ngIf="item?.title">{{item?.title}}</span>
          </div>
          <div class="content-right">
            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
              (click)="favoriteChange.emit(item)">
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="updating">
    <ng-container [ngTemplateOutlet]="loadMoreTemplate"></ng-container>
  </ng-container>
</div>

<ng-template #loadingTemmplate>
  <content-loader></content-loader>
</ng-template>

<ng-template #loadMoreTemplate>
  <content-loader [countLoading]="countLoadMore"></content-loader>
</ng-template>