$card_width: 25%;
$row_increment: 10px;
$card_border_radius: 16px;
$card_small: 24;
$card_medium: 28;
$card_large: 38;
$primary: #3f51b5;
$black-primary: #212539;

$font-bold: 600;
$font-medium: 500;

$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 14px;

.cursor-pointer {
  cursor: pointer;
}


$fs-22: 22px;
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;
$fs-12: 12px;

// Radius
$br-2: 2px;
$br-4: 4px;
$br-6: 6px;
$br-8: 8px;
$br-10: 10px;
$br-12: 12px;
$br-14: 14px;
$br-16: 16px;


//color
$primary: #0B0B0B;
$gray-text: #999999;
$gray1-text: #333333;
$white: #ffffff;
$black-text: #282828;
$danger: #FE4C4C;
$blue: #2667FF;
$bg-gray1: #fafafa;
$bg-gray2: #F9F9F9;
$bg-gray: rgba(255, 255, 255, 0.03);

.mt-24 {
  margin-top: 24px;
}